* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#welcome-section
{
   
  background:#5F4B8BFF;
  background-size: auto;
  margin-left:20px;
  margn-right:20px;
  margin-top:80px;
  border-radius:10px;
  border:  4px solid #E69A8DFF;
  text-align:center;
  height:50%;
  width:98%;
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}
#hello
{
  font-size:50px;
  text-align:center;
  color:#E69A8DFF; 
}
@media screen and (min-width: 480px) {
  body {
    background-color:#ADEFD1FF;
  }
  #a_web_developer
  {
    font-size:30px;
  text-align:center;
  color:#E69A8DFF;
  }
  #navbar
  {
 list-style-type: none;
   background:#D85A7FFF;
    font-size:30px;
    position: fixed;
   top:0;
   width:100%;
    height:30%;
    
  }
    li a {
  display: block;
  padding: 4px;
 
}
  li {
  float:left;
}
 nav ul li {
  list-style-type: none;
  margin: 0;
   background:#D85A7FFF;
    font-size:30px;
    overflow: hidden;
  }
  
